In [17]:
# Import the geospatial data into dataframe.
import pandas as pd
geo = pd.read_csv('http://cocl.us/Geospatial_data')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
geo.shape

(103, 3)

In [19]:
# Extract the postal code file from the Part I of the project
df=pd.read_csv('postal_code.csv')

In [20]:
df.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,0,M3A\n,North York\n,Parkwoods\n
1,1,M4A\n,North York\n,Victoria Village\n
2,2,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
3,3,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
4,4,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"

In [21]:
# Remove \n in the dataframe.
df = df.replace(r'\n',' ', regex=True) 
df.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [22]:
# Remove the extra column.
df.drop('Unnamed: 0',axis=1, inplace=True)
df.head()

  Postal Code            Borough                                  Neighborhood
0        M3A         North York                                     Parkwoods
1        M4A         North York                              Victoria Village
2        M5A   Downtown Toronto                     Regent Park, Harbourfront
3        M6A         North York              Lawrence Manor, Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

In [23]:
df.shape

(103, 3)

In [89]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [90]:
geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [24]:
# Sort the neighborhood data by postal code.
df = df.sort_values('Postal Code')
df = df.reset_index(drop=True)
df.head()

  Postal Code       Borough                             Neighborhood
0        M1B   Scarborough                           Malvern, Rouge
1        M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2        M1E   Scarborough        Guildwood, Morningside, West Hill
3        M1G   Scarborough                                   Woburn
4        M1H   Scarborough                                Cedarbrae

In [92]:
# Sort the geo data by postal code.
geo = geo.sort_values('Postal Code')
geo = geo.reset_index(drop=True)
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
# Remove the extra space in the dataframe
df['Postal Code']=df['Postal Code'].astype(str)
geo['Postal Code']=geo['Postal Code'].astype(str)
df['Postal Code']=df['Postal Code'].str.strip()
geo['Postal Code']=geo['Postal Code'].str.strip()

In [26]:
# Merge two dataframes into new one.
df_new=pd.merge(df,geo,on='Postal Code')
df_new.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [27]:
# Save the new dataframe to csv file.
df_new.to_csv('df_new.csv')